@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #242424;
  --foreground: #ffffff;
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Manrope, sans-serif;
}

.custom_container {
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: 768px) {
  .custom_container {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (min-width: 1024px) {
  .custom_container {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media (min-width: 1536px) {
  .custom_container {
    padding-left: 100px;
    padding-right: 100px;
  }
  .tilda-slider .custom_container {
    padding-left: 60px;
    padding-right: 0 !important;
  }
}
